{#
Custom standalone template for individual link items.
Includes breadcrumbs and navigation arrows.
#}

{% extends 'partials/base.html.twig' %}

{% block body %}

<section id="body-wrapper" class="section blog-listing">
    <section class="container {{ grid_size }}">
        <div class="link-item-standalone">

            {% include 'partials/breadcrumbs.html.twig' %}

            {# Link Item Content #}
            <div class="link-header">
                <p>
                    <a class="link-title" href="{{ page.header.link }}" target="_blank">{{ page.title }}</a>
                    {% if page.header.via %}
                        <a class="link-via" href="{{ page.header.via }}" target="_blank">(via)</a>
                    {% endif %}
                    {% if page.header.author %}
                        by {{ page.header.author }}
                    {% endif %}
                    on
                    <span class="link-date">
                        {{ page.date|date("d-m-Y H:i") }}
                    </span>
                </p>
            </div>

            <div class="link-content">
                {{ page.content|raw }}
            </div>

            {# Navigation Arrows #}
            <p class="prev-next text-center">
                {% if not page.isLast %}
                    <a class="btn" href="{{ page.prevSibling.url }}"><i class="fa fa-angle-left"></i> {{ 'THEME_QUARK.BLOG.ITEM.PREV_LINK'|t }}</a>
                {% endif %}

                {% if not page.isFirst %}
                    <a class="btn" href="{{ page.nextSibling.url }}">{{ 'THEME_QUARK.BLOG.ITEM.NEXT_LINK'|t }} <i class="fa fa-angle-right"></i></a>
                {% endif %}
            </p>
            
        </div>


    </section>
</section>

{% endblock %}
