{#
Custom standalone template for individual link items.
Includes breadcrumbs and navigation arrows.
#}

{% extends 'partials/base.html.twig' %}

{% block body %}

<section id="body-wrapper" class="section blog-listing">
    <section class="container {{ grid_size }}">
        <div class="link-item-standalone">

            {% include 'partials/breadcrumbs.html.twig' %}

            {# Link Item Content #}
            <div class="link-header">
                <p>
                    <a class="link-title" href="{{ page.header.link }}" target="_blank">{{ page.title }}</a>
                    {% if page.header.via %}
                        <a class="link-via" href="{{ page.header.via }}" target="_blank">(via)</a>
                    {% endif %}
                    {% if page.header.author %}
                        by {{ page.header.author }}
                    {% endif %}
                    on
                    <span class="link-date">
                        {{ page.date|date("d-m-Y H:i") }}
                    </span>
                </p>
            </div>

            <div class="link-content">
                {{ page.content|raw }}
            </div>

            {# Navigation Arrows #}
            <div class="link-navigation">
                {% if page.prevSibling %}
                    <a class="nav-prev" href="{{ page.prevSibling.url }}">&larr; Previous</a>
                {% endif %}
                {% if page.nextSibling %}
                    <a class="nav-next" href="{{ page.nextSibling.url }}">Next &rarr;</a>
                {% endif %}
            </div>
            
        </div>


    </section>
</section>

{% endblock %}
