<section id="{{ id }}" class="section modular-hero hero {{ page.header.hero_classes }} {{ page.header.background.parallax ? 'parallax' : '' }}" {% if hero_image %}style="background-image: url('{{ hero_image.url }}');"{% endif %}>
    <div class="image-overlay"></div>
    <section class="container {{ grid_size }}" style="text-align: {{ page.header.hero_align|default('center') }}">
        {{ content|raw }}

        {% set tag = uri.param("tag") %}
        {% if tag != "" %}
        <h4>
        <span class="tags">
            <a class="label label-rounded" style="font-size:130%;" href="/blog/tag{{ config.system.param_sep }}{{ tag }}">{{ tag }}</a>
        </span>
            {% if ('TAG_DESCRIPTIONS.'~tag)|t != ('TAG_DESCRIPTIONS.'~tag) %}
            — {{ ('TAG_DESCRIPTIONS.'~tag)|t }}
            {% endif %}
        </h4>
        {% else %}
        {% include "partials/blog/stats.html.twig" %}
        {% endif %}
    </section>
    <i id="to-start" class="pulse fa fa-angle-down"></i>
</section>
