<div class="review-card">
    {% if review.media.images|length > 0 %}
        <img class="reviewer-photo" src="{{ review.media.images|first.url }}" alt="{{ review.title }}">
    {% endif %}
    <div class="review-content">
        <p class="review-text">{{ review.content }}</p>
    </div>
    <div class="review-meta">
        <p>
        <span class="reviewer-name">{{ review.header.name }}</span>
        {% if review.header.company %}
            <span class="reviewer-company">, {{ review.header.company }}</span>
        {% endif %}
        {% if review.header.role %}
            <span class="reviewer-role"> ({{ review.header.role }})</span>
        {% endif %}
        {% if review.header.link %}
            <a class="review-link" href="{{ review.header.link }}" target="_blank"><i class="fa fa-external-link"></i></a>
        {% endif %}
        </p>
    </div>
</div>
