<div class="content-item h-entry">

<div class="content-title text-center">
    <h1 class="p-name mt-1"><a href="{{ page.url }}" class="u-url">{{ page.title }}</a></h1>
    <h2>{{ page.header.event }}</h2>
    {% if page.header.subtitle %}
    <h3 >{{ page.header.subtitle }}</h3>
    {% endif %}
    {% include 'partials/blog/date.html.twig' %}
</div>

<div class="e-content">
    <ul>
        <li> <i class="fas fa-external-link-alt"></i> <a href="{{ page.header.event_link }}">Event link</a> </li>

        {% if page.header.watch %}
        <li> <i class="fab fa-youtube"></i> <a href="{{ page.header.watch }}">Watch online</a> </li>
        {% endif %}

        {% if page.header.main_reference %}
        <li> <i class="fas fa-book-open"></i> <a href="{{ page.header.main_reference }}">Main reference</a> </li>
        {% endif %}

        {% if page.header.slides_pdf %}
        <li> <i class="fas fa-file-pdf"></i> <a href="{{ page.header.slides_pdf }}">Slides (PDF)</a> </li>
        {% endif %}

        {% if page.header.resources %}
        <li> <i class="fas fa-paperclip"></i> <a href="{{ page.header.resources }}">Session resources</a> </li>
        {% endif %}
    </ul>

    <hr />

    {{ page.content|raw }}

    {% if page.header.watch %}
    <h2>Watch the recording</h2>
    <iframe width="100%" style="aspect-ratio:560/315;" src="https://www.youtube.com/embed/BFb3MhAKK5U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>


    <iframe width="100%" aspectratio="560/315" src="{{ page.header.watch }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    {% endif %}
</div>
