<ul class="archives">

{% for year,items in archives_data %}
    <li>
    	<a href="{{ archives_url ?? base_url }}/{{ config.plugins.archives.taxonomy_names.year }}{{ config.system.param_sep }}{{ year|date(config.plugins.archives.taxonomy_values.year)|lower|e('url') }}">
        {% if archives_show_count %}
        <span class="label">{{ items|length }}</span>
        {% endif %}
        <span class="archive_date">{{ year }} </span>
        </a>
    </li>
{% endfor %}
</ul>
