{% set grid_size = theme_var('grid-size') %}
{% set image = page.media.images|first %}
{% set splits = content | split("===") %}
{% set align = page.header.image_align|default('right') %}

<section class="section modular-text {{ page.header.class}}">
    <section class="container {{ grid_size }}">
        {# The title is outside the next div that gets the alignment class because,
           otherwise, when the align is left the heading would be aligned on the right.
        #}
        {% if page.header.title %}
            {{ "<h2>" ~ page.header.title ~ "</h2>" }}
        {% endif %}
        {% if page.header.event %}
            {{ "<h3>" ~ page.header.event ~ "</h3>" }}
        {% endif %}
        <div class="columns {{ align }}">
            <div class="column col-6 col-md-12">
                {{ splits[0] }}
            </div>
            <div class="column col-6 col-md-12">
                {{ splits[1] }}
            </div>
        </div>
        {% if page.header.myfooter %}
            {% markdown %}{{ page.header.myfooter }}{% endmarkdown %}
        {% endif %}
    <hr>
    </section>
</section>
