{% set grid_size = theme_var('grid-size') %}
{# Use the collection defined in this modular section's frontmatter #}
{% set collection = page.collection() %}
{% set bricklayer_unique_class = 'bricklayer' ~ page.slug %}

<section class="section modular-text blog-3-col {{ page.header.class }}">
    <section class="blog-listing container {{ grid_size }}">

    {% if page.header.title %}
        <h2 class="mb-2">{{ page.header.title }}</h2>
    {% endif %}

    {% if show_breadcrumbs and config.plugins.breadcrumbs.enabled %}
        {% include 'partials/breadcrumbs.html.twig' %}
    {% endif %}

    {% embed 'partials/layout.html.twig' with {blog: page, show_sidebar: false} %}
        {% block item %}
            <div class="{{ bricklayer_unique_class }}">
            {% for child in collection %}
                {% include 'partials/talk-list-item.html.twig' with {blog: page, page: child} %}
            {% endfor %}
            </div>

        {% endblock %}

        {% block sidebar %}
            {% include 'partials/sidebar.html.twig' %}
        {% endblock %}
    {% endembed %}

    <script>
        //Bricklayer
        var bricklayer = new Bricklayer(document.querySelector('{{ bricklayer_unique_class }}'))
    </script>

    </section>
</section>
