{% set grid_size = theme_var('grid-size') %}
{% set image = page.media.images|first %}

<section class="section modular-text {{ page.header.class}}">
    <section class="container {{ grid_size }}">
        {% if page.header.title %}
            {{ add_anchors("<h2>" ~ page.header.title ~ "</h2>") }}
        {% endif %}
        {% if page.header.event %}
            {{ add_anchors("<h3>" ~ page.header.event ~ "</h3>")}}
        {% endif %}
        <div class="columns {{ page.header.image_align|default('align-right') }}">
            <div class="column col-6 col-md-12">
                {{ content | raw }}
                {{ 1 }}
                {{ page.content.split("===")[0] }}
            </div>
            <div class="column col-6 col-md-12">
                {{ page.content|slice(page.summary|length)|raw }}
            </div>
        </div>
    <hr>
    </section>
</section>
