{% set grid_size = theme_var('grid-size') %}
{% set image = page.media.images|first %}
{% set splits = content | split("===") %}
{% set align = page.header.image_align|default('right') %}

<section class="section modular-text {{ page.header.class}}">
    <section class="container {{ grid_size }}">
        <div class="columns {{ align }}">
            {% if page.header.title %}
                {{ add_anchors("<h2>" ~ page.header.title ~ "</h2>") }}
            {% endif %}
            <div class="column col-6 col-md-12">
                {% if page.header.event %}
                    {{ add_anchors("<h3>" ~ page.header.event ~ "</h3>")}}
                {% endif %}
                {{ splits[0] }}
                Teste 4
            </div>
            <div class="column col-6 col-md-12"><!--antes-->{{ splits[1] }}<!--depois--></div>
        </div>
    <hr>
    </section>
</section>
