{#
Custom template written for the link blog section of my website.
Expects link items to have the following frontmatter variables:
- link
- title
- via (optional)
- date

It can also include arbitrary Markdown content.
#}

<div class="link-item">
    <div class="link-header">
        <p><a class="link-title" href="{{ link_item.header.link }}" target="_blank">{{ link_item.title }}</a>
        {% if link_item.header.via %}
            <a class="link-via" href="{{ link_item.header.via }}" target="_blank">(via)</a>
        {% endif %}
        on
        <span class="link-date">
            {{ link_item.date|date("d-m-Y H:i") }}
        </span></p>
    </div>
    <div class="link-content">
        {{ link_item.content|raw }}
    </div>
    <hr />
</div>
