{#
Custom template written for the link blog section of my website.
Expects link items to have the following frontmatter variables:
- link
- title
- via (optional)
- date

It can also include arbitrary Markdown content.
#}

<div class="link-item">
    <div class="link-header">
        <p><a class="link-title" href="{{ page.header.link }}" target="_blank">{{ page.title }}</a>
        {% if page.header.via %}
            <a class="link-via" href="{{ page.header.via }}" target="_blank">(via)</a>
        {% endif %}
        {% if page.header.author %}
            by {{ page.header.author }}
        {% endif %}
        on
        <span class="link-date">
            {{ page.date|date("d-m-Y H:i") }}
        </span></p>
    </div>
    <div class="link-content">
        {{ page.content|raw }}
    </div>
    <hr />
</div>
